* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
  color: #D9D9D9;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

h1 {
  font-size: 66px;
  line-height: 120%;
}

h2 {
  font-size: 55px;
}

h3 {
  font-size: 46px;
}

h4 {
  font-size: 38px;
}

h5 {
  font-size: 32px;
}

h6 {
  font-size: 26px;
}

p {
  margin-top: 10px;
}

/* introduction (header) */
.introduction {
  text-align: right;
}

.introduction h2 {
  color: #9F9F9F;
  top: -25px;
  position: relative;
}

/* navigation bar */
nav {
  background-color: #181818;
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 10;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 10px 40px;
  font-size: 15px;
}

nav ul a {
  text-decoration: none;
  color: #D9D9D9;
}

a:hover {
  color: #5A9CFF;
}

a:active {
  color: #3787FF;
}

/* blog posts */
main {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(260px, 520px));
  column-gap: 80px;
  top: 80px;
  position: relative;
}

/* single blog post */
.blog-post {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.caption {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: #9F9F9F;
}